.circle1 {
    position: absolute;
    width: 13em;
    height: 13em;
    border-radius: 50%;
    background: linear-gradient(-25deg, #d84869, #f46641);
    top: 5%;
    left: 30%;
    box-shadow: 0 0 50px #d84869;
    animation: circle1Animate 15s infinite;
  }
  
  @keyframes circle1Animate {
    50% {
      left: 33%;
      top: 4%;
      scale: 1.11;
    }
  }
  
  .circle2 {
    position: absolute;
    opacity: 60%;
    bottom: 5%;
    right: 30%;
    width: 18em;
    height: 18em;
    border-radius: 50%;
    box-shadow: 0 0 50px #5648d8;
    background: linear-gradient(-25deg, #5648d8, #8641f4);
    animation: circle2Animate 15s infinite;
  }
  
  @keyframes circle2Animate {
    50% {
      bottom: 6%;
      right: 31%;
      scale: 1.1;
    }
  }
  

  .icon{  
    padding: 17px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    gap: 10px;
    justify-content: center;
    transition: all 0.5s;
    margin-bottom: 25px;
    text-decoration: none;
  }
  
  .icon i {
    font-size: 27px;
  }
  
  #facebook {
    color: #1771e6;
    border: 1px solid #1771e6;
  }
  #facebook:hover {
    background-color: #1771e6;
    color: #fff;
  }
  
  #twitter {
    color: #1c99e6;
    border: 1px solid #1c99e6;
  }
  #twitter:hover {
    background-color: #1c99e6;
    color: #fff;
  }
  
  #instagram {
    color: #cb2770;
    border: 1px solid #cb2770;
  }
  #instagram:hover {
    background-color: #cb2770;
    color: #fff;
  }
  
  #whatsapp {
    color: #2fe664;
    border: 1px solid #2fe664;
  }
  #whatsapp:hover {
    background-color: #2fe664;
    color: #fff;
  }
  
  #telegram {
    color: #0081c2;
    border: 1px solid #0081c2;
  }
  #telegram:hover {
    background-color: #0081c2;
    color: #fff;
  }
  .active {
    scale: 1;
  }  